body {
  font-family: 'Sigmar One', cursive;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.cloud {
}

#cloud-1{
  /*border:5px solid red;*/
  position: absolute;
  margin-left: 100px;
}

#cloud-2{
  /*border:5px solid orange;*/
  position: absolute;
  margin-left: 600px;
}

#cloud-3{
  /*border:5px solid yellow;*/
  position: absolute;
  margin: 0px;
}

#cloud-4{
  /*border:5px solid green;*/
  position: absolute;
  margin-left: 75px;
  margin-top: 300px;
}

#cloud-5{
  /*border:5px solid blue;*/
  position: absolute;
  margin-left: 800px;
  margin-top: 300px;

}

#clickAround{
  color: rgba(0,0,0,.5);
  text-align: center;
  top: 50%;
  font-size: 8em;
}

#text{
  color: white;
  text-align: center;
  top: 50%;
  font-size: 8em;
}

#sun{
  height: 75px;
  width: 75px;
  position: absolute;
  margin-left: 400px;
  margin-top: 400px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}
