body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Crimson Text', serif;
    font-size: 22px;;
}

.page{
    position: relative;
    display: block;
}

.page:active{
    display: block;
}

.links {
    text-align: center;
    color: darkgreen;
  }

.links:hover {
    font-style: italic;
    color: darkblue;
}
