body {
  text-align: center;
  background-color: white;
  width: 37.5rem;
  margin: auto;
  padding: 1.25rem;
  font-family: 'Crimson Text', serif;
  font-size: 22px;
}

#mainImage {
    width: 37.5rem;
}

.interact{
    margin: auto;
    text-align: auto;
}

input {
    width: inherit;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    text-align: center;
}

button {
    font-family: serif;
    font-size: 18px;
}

/*Phone break point*/
@media only screen and (max-device-width: 1024px) {
    body {
      width: 50%;
      margin: auto;
    }
}
