body {
  width: 600px;
  margin: auto;
  padding: 20px;
  font-family: 'Crimson Text', serif;
  font-size: 22px;
  text-align: center;
}

#mainImage {
  width: 600px;
}

button {
  font-size: 18px;
  text-align: center;
  font-family: 'Crimson Text', serif;
}

input {
  width: inherit;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  text-align: center;
