body {
  text-align: center;
  background-color: white;
  width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
  font-family: 'Crimson Text', serif;
  font-size: 22px;
}

#mainImage {
    width: 600px;
}

input {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    text-align: center;
}

button {
    font-family: serif;
    font-size: 18px;
    text-align: center;
}
