body, html {
    margin: 0;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.hero-image {
  /* Darken hero image so text stands out */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./imgs/hw1-hero.jpeg");
  /* Set image height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  /* Place text near the top of the hero */
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.nav-item {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.nav-item:hover {
    font-style: italic;
    color: pink;
}

.grid {
  padding: 5em 50px 5em;
}

#pitch {
  background-color: lightgray;
}

.footer {
  display: inline-grid;
}

/* Smartphones break point*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Large screens break point*/
@media only screen  and (min-width : 1824px) {
/* Styles */
}

@media only screen and (max-device-width: 1024px) {
 .parallax {
 background-attachment: scroll;
 }
}
